{% extends 'LostNFound/base.html' %}

{% block title %}Lost Item Detail{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4">{{ item.name }}</h2>
    
    <p><strong>Category:</strong> {{ item.category.name }}</p>
    <p><strong>Location:</strong> {{ item.lost_location }}</p>
    <p><strong>Date Lost:</strong> {{ item.lost_date|date:"F d, Y" }}</p>
    <p><strong>Reported On:</strong> {{ item.date_reported|date:"F d, Y" }}</p>
    <p><strong>Description:</strong> {{ item.description|default:"No description added" }}</p>
    
    {% if item.images.all %}
        <div class="row">
            {% for image in item.images.all|slice:":3" %}
                <div class="col-md-4">
                    <h5>Image {{ forloop.counter }}</h5>
                    <img src="{{ image.url }}" alt="Lost Item Image {{ forloop.counter }}" class="img-fluid rounded" style="max-width: 100%;">
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}
