{% extends 'marketplace/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Item - DealSimplified{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Add New Item</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {{ image_formset.management_form }}
        {% for form in image_formset %}
            {{ form|crispy }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
