{% extends 'marketplace/base.html' %}

{% block title %}Delete Item{% endblock %}

{% block content %}


<h2>My Chats</h2>

<div class="chat-list">
    {% if chats %}
        <ul>
            {% for chat in chats %}
                <li>
                    <a href="{% url 'chat_detail' chat.id %}">
                        <div>
                            <strong>{{ chat.seller.username }}</strong>  <!-- Show the seller's username -->
                            <p>Last message: {{ chat.messages.last.text|truncatewords:5 }}</p>  <!-- Show the last message in the chat -->
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no chats yet.</p>
    {% endif %}
</div>

{% endblock %}