{% extends 'marketplace/base.html' %}

{% block title %} Chats {% endblock %}

{% block content %}

<div class="chat-container">
    <!-- Left Sidebar with Chats -->
    <div class="sidebar">
        <h3>My Chats</h3>
        {% for chat in chats %}
            <div class="sidebar-chat">
                <a href="{% url 'chat_detail' chat.id %}">
                    {% comment %} <strong>Chat with {{ chat.receiver.user.username }}</strong><br>
                    <small>{{ chat.messages.last.content|truncatechars:30 }}</small> {% endcomment %}
                    <strong>
                        {% if chat.sender == profile %}
                            {{ chat.receiver.user.username }}
                        {% else %}
                            {{ chat.sender.user.username }}
                        {% endif %}
                    </strong><br>
                    <small>{{ chat.messages.last.content|truncatechars:30 }}</small>
                </a>
            </div>
        {% endfor %}
    </div>

    <!-- Chat Window on the Right -->
    <div class="chat-window">
        <div class="chat-header">
            
            <div class="chat-title">
                {% if chat.sender == profile %}
                    {{ chat.receiver.user.username }}
                {% else %}
                    {{ chat.sender.user.username }}
                {% endif %}
            </div>
            <div class="chat-options">
                <i class="fa fa-phone"></i>
                <i class="fa fa-video"></i>
                <i class="fa fa-search"></i>
            </div>
        </div>
        <div class="chat-messages">
            {% comment %} {% for message in messages %}
                <div class="chat-message {% if message.sender == profile %}me{% else %}other{% endif %}">
                    <p>{{ message.content }}</p>
                </div>
            {% endfor %} {% endcomment %}
            {% regroup messages by timestamp.date as messages_by_date %}

                {% for date_group in messages_by_date %}
                    <!-- Display Date Heading -->
                    <div class="date-separator">
                        <span>{{ date_group.grouper|date:"d M Y" }}</span>
                    </div>
            
                    {% for message in date_group.list %}
                        <div class="chat-message {% if message.sender == profile %}me{% else %}other{% endif %}">
                            <p>{{ message.content }}</p>
                            <small class="time-stamp">{{ message.timestamp|date:"H:i" }}</small>
                        </div>
                    {% endfor %}
                {% endfor %}
        </div>

        <form method="POST" class="chat-input">
            {% csrf_token %}
            <input type="text" name="content" placeholder="Type a message...">
            <button type="submit">Send</button>
        </form>
    </div>
</div>

{% endblock %}
